{% extends 'home/base.html' %}

{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"> <a href="{% url 'home:users' %}"> Home </a></li>
  <li class="breadcrumb-item"> <a href="{% url 'home:userindex' u.pk %}"> {{ u.username }} </a> </li>

  {% for parent in parent_list %}
    {% if parent is not active_folder %}
      <li class="breadcrumb-item"> <a href="{% url 'home:userdetails' parent.id %}"> {{ parent }}</a> </li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'home:userdetails' parent.id %}" style="color:black"> {{ parent }}</a></li>
    {% endif %}
  {% endfor %}
</ol>

<a href="{% url 'home:select' folder_id %}"> <button type="button" class="btn btn-success"> Select </button> </a>
<a href="{% url 'fileshare:download_folder' folder_id %}"> <button type="button" class="btn btn-primary"> Download </button> </a>

<h2>Folders</h2>
{% if folders %}
<div class="list-group">
  {% for f in folders %}
   <a href="{% url 'home:userdetails' f.id %}" class="list-group-item list-group-item-action list-group-item-secondary "><i class='fas fa-folder'></i> {{ f }} </a>
  {% endfor %}
</div>
{% else %}
  <h3> No folders here yet :( </h3>
{% endif %}

<h2>Files</h2>
{% if files %}
<div class="table-responsive">
   <table class="table table-hover">
     <thead style="border-color:white">
       <tr>
         <th>File</th>
         <th>Uploaded On</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody>
         {% for file in files %}
         <tr>
           <td> <a href="{{ file.file.url }}" target="_blank"><i class="fas fa-file"></i> {{ file.name }} </a> </td>
           <td> {{ file.created_on }}</td>
           <td>
             <a href="{{ file.file.url }}" target="_blank" download><button type="button" class="btn btn-primary">Download</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           </td>

         </tr>
        {% endfor %}
     </tbody>
   </table>
 </div>
{% else %}
  <h3> No files here yet :( </h3>
{% endif %}

{% endblock %}
