<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'account/style.css' %}" type="text/css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}CabShare{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavbar">
<!-- <ul class="navbar-nav ml-auto justify-content-end">    ->Can also use this to make it align right-->
        <ul class="navbar-nav ml-auto justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:login' %}"><button type="button" class="btn btn-success">Login</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:register' %}"> <button type="button" class="btn btn-success">SignUp</button> </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid" style="margin-top:80px">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
