{% extends 'account/base.html' %}

{% block title %} Profile {% endblock%}

{% block body %}

<div align = "center">
<div class="card" style="width:400px;background: rgba(6, 4, 4, 0.6);" align="center">
 <img class="card-img-top" src="{{ user_profile.photo.url }}" alt="Card image">
 <div class="card-body" style="color:white">
   <h4 class="card-title">{{ user_profile.name }}</h4>
   <p class="card-text"> DOB : {{ user_profile.date_of_birth }}</p>
   <p class="card-text"> Gender : {{ user_profile.gender }}</p>
   <a href="{% url 'account:profile-update' user_profile.id %}"><button type="button" class="btn btn-light"><i class='fas fa-edit' style='font-size:24px;color:blue'></i>Edit</button></a>

 </div>
</div>
</div>


{% endblock %}
