{% extends 'account/base.html' %}

{% block title %} Profile {% endblock%}

{% block body %}

<a href="{% url 'account:profile-update' user_profile.id %}"><button type="button" class="btn btn-light"><i class='fas fa-edit' style='font-size:24px;color:blue'></i>Edit</button></a>

  <h1> These are details of {{ user_profile.name }} </h1>
  <img src="{{ user_profile.photo.url }}">
  <p> DOB : {{ user_profile.date_of_birth }}</p>
  <p> Gender : {{ user_profile.gender }}</p>
  <p> Dept. : {{ user_profile.department }}</p>



{% endblock %}
