{% for field in form %}
  <div class="form-group row">
    <label for="field.label_tag" class="col-sm-2 col-form-label"> {{ field.label_tag }} </label>
    <div class="col-sm-10" required>{{ field }}</div>
  </div>
{% endfor %}

<!-- {% for field in form %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <span class="text-danger small">{{ field.errors }}</span>
    </div>
    <label class="control-label clo-sm-2">{{ field.label_tag}} </label>
    <div class="col-sm-10">{{ field }}</div>
  </div>
{% endfor %} -->
