<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- {% load static %} -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'music/style.css' %}" type="text/css" /> -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>{% block title %}Fileshare{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="{% url 'home:users' %}"><span style="font-family:American Typewriter, serif">FShare</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavbar">
        <div class="mx-auto order-0">
          <form class="form-inline" action="{% url 'home:search' %}" role="search" method="get">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-default" type="submit" style="background-color:white"> Search&nbsp;</button>
          </form>
        </div>
<!-- <ul class="navbar-nav ml-auto justify-content-end">    ->Can also use this to make it align right-->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"> Select &nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'fileshare:folder-add' %}"><i class='fas fa-plus'></i> Add Folder &nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'fileshare:file-add' %}"><i class='fas fa-plus'></i> Add File &nbsp;</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:profile-view' %}"><i class='fas fa-user'></i> Profile &nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:logout' %}"><i class='fas fa-power-off'></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid" style="margin-top:80px">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
