{% extends 'fileshare/base.html'%}

{% block title%} Add Folder {% endblock %}

{% block body %}

<div class="card-body" style="background-color:white">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><label for="id_file">File:   </label>
    <input id="id_file" type="file" name="file" onchange="form.submit()" required /></p>
  </form>
</div>

<script>

  $(document).ready(function(){
    $('#id_file').attr("multiple","true");
  };)
  
  window.onload = function(){
    var button = document.getElementById("id_file");
    button.click();
  };

 </script>

{% endblock %}
