{% extends 'fileshare/base.html' %}

{% block body %}
<h2> Folders </h2>
{% if all_folders %}
<div class="list-group">
  {% for folder in all_folders %}
   <a href="{% url 'fileshare:detail' folder.pk %}" class="list-group-item list-group-item-action list-group-item-secondary "><i class='fas fa-folder'></i> {{ folder }}</a>
  {% endfor %}
</div>
{% else %}
  <h3> No folders here yet :( </h3>
{% endif %}

<h2> Files </h2>
{% if all_files %}
<div class="table-responsive">
   <table class="table table-hover">
     <thead style="border-color:white">
       <tr>
         <th>File</th>
         <th>Uploaded On</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody>
         {% for file in all_files %}
         <tr>
           <td> <a href="{{ file.file.url }}" target="_blank"><i class="fas fa-file"></i> {{ file.name }} </a> </td>
           <td> {{ file.created_on }}</td>
           <td>
             <a href="{{ file.file.url }}" target="_blank" download><button type="button" class="btn btn-primary">Download</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <a href="{% url 'fileshare:file-update' file.pk %}"> <button type="button" class="btn btn-secondary"> Edit </button> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{file.pk}}">Delete </button>
             <div class="modal" id="myModal{{file.pk}}">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h4 class="modal-title"> Delete </h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                   </div>

                   <div class="modal-body"> Are you sure to delete ? </div>

                   <div class="modal-footer">
                     <button type="button" class="btn btn-light" data-dismiss="modal"> Cancel </button>
                     <a href="{% url 'fileshare:file-delete' file.pk %}"> <button type="button" class="btn btn-danger"> Delete </button> </a>
                   </div>

                 </div>
               </div>
             </div>
           </td>
         </tr>
        {% endfor %}
     </tbody>
   </table>
 </div>
{% else %}
  <h3> No files here yet :( </h3>
{% endif %}

{% endblock %}
