{% extends 'fileshare/base.html'%}

{% block body %}

<form action="{% url 'fileshare:list_delete_index' %}" method="get">
  <h2>Folders</h2>
  <button type="button" class="btn btn-secondary"><input type="checkbox" onClick="toggle(this,'folder')" /> Select All Folders</button><br/>
  {% for f in folders %}
    <div class="form-check">
      <label class="form-check-label" for="check1">
        <input type="checkbox" class="form-check-input" id="check1{{f.pk}}" name="folder" value="{{ f.pk }}">{{ f }}
      </label>
    </div>
  {% endfor %}

  <h2>Files</h2>
  <button type="button" class="btn btn-secondary"><input type="checkbox" onClick="toggle(this,'file')" /> Select All Files</button><br/>
  {% for f in files %}
    <div class="form-check">
      <label class="form-check-label" for="check1">
        <input type="checkbox" class="form-check-input" id="check2{{f.pk}}" name="file" value="{{ f.pk }}">{{ f }}
      </label>
    </div>
  {% endfor %}

  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"> Delete </button>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Delete </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body"> Are you sure to delete these folders and files? </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal"> Cancel </button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>

      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id="download" formaction="{% url 'fileshare:list_folder_file_download' %}">Download</button>
</form>
<br>
<br>
<button onclick="goBack()" class="btn btn-success">Go Back</button>


<script>
function goBack() {
  window.history.go(-1);
}
function toggle(source,name) {
  checkboxes = document.getElementsByName(name);
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}

</script>


{% endblock %}
